<form method="post" action="aluno/salvar">
    <fieldset>
        <label>Nome</label>
        <input type="text" name="nome">
        <label>Telefone</label>
        <input type="text" name="telefone">
        <label>Email</label>
        <input type="text" name="email">
        <label>Nota</label>
        <input type="number" name="nota">
    </fieldset>
</form>